.Header{
    width: 100%;
    min-height: 10%;
    background : #6f42c1;
    margin-bottom: 1rem;
    padding: 0.1rem 0;
    color : white;
    font-size: 1rem;
    font-family: sans-serif;
}
.Header-content{
    text-align: center;
}
.Header-content a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
.HomeNav{
    margin-right: 20px;
}