.SearchBar{
    text-align: center;
    margin-top: 2rem;;
}
.inputSearchBar{
    width: 40%;
    min-height: 40px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 30px black;
    border-radius: 5px;
}