.ProfileWidgetheader{
    text-align: center;
    font-weight: 2rem;;
}
.ProfileWidget{
    background: #F8F8FF;
    background: linear-gradient(to right, #4568DC,#B06AB3);     
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 6rem 6rem;
    padding: 1rem;
}